.login-section .login-btn,.forgot-section .login-btn,.reset-section .login-btn{float: left;margin-left: 34px;}
.form-control{border: 1px solid #5555553d;}
.account-pages .account-content{border: 1px solid #5555553d;}
.account-logo-box {
    background-color: #38444f
}
#add_form .error,#changepass_form .error,#edit_form .error,.reset-section .error,.forgot-section .error,.login-section .error{color: red;
    font-weight: normal;
    font-family: inherit;
    font-size: 14px;}
	.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.login-section .page-title{    font-size: 24px;
    text-transform: capitalize;
    color: #fff;}
	.tbl-td-noborder{border-top:none !important;}
.list-page .act-inc{width:56px;}
.list-page .go-btn,.add-page .go-btn,.edit-page .go-btn{    width: 66px;
    margin-right: 16px;}
.capitalize{text-transform:capitalize;}
#mceu_20{border:1px solid #5555553d !important;}
.mce-flow-layout{border-bottom:1px solid #5555553d !important;}
#mceu_40-body{border-bottom:none !important;}