<div class="left side-menu">
   <div class="sidebar-inner slimscrollleft">
      <div id="sidebar-menu">
         <ul>            
            <li class="has_sub">
               <a href="/admin/dashboard" class="waves-effect <% if(data.title == "Dashboard - Grasshopper") { %>subdrop<% } %>"><i class="fa fa-dashboard"></i><span>Dashboard</span> </a>
            </li>            
            <li class="has_sub">
               <a href="javascript:void(0);" class="waves-effect <% if(data.title == "List Category - Grasshopper" || data.title == "Add Category - Grasshopper" || data.title == "Edit Category - Grasshopper" || data.title == "List Sub Category - Grasshopper" || data.title == "Add Sub Category - Grasshopper" || data.title == "Edit Sub Category - Grasshopper") { %>subdrop<% } %>"><i class="fa fa-table"></i><span>Manage Category</span> <span class="menu-arrow"></span></a>
               <ul class="list-unstyled" <% if(data.title == "List Category - Grasshopper" || data.title == "Add Category - Grasshopper" || data.title == "Edit Category - Grasshopper") { %>style="display: block;"<% } %>>
                  <li><a href="/admin/category/list" <% if(data.title == "List Category - Grasshopper") { %>style="color: #ffffff;"<% } %>>List Category</a></li>
                  <li><a href="/admin/category/add" <% if(data.title == "Add Category - Grasshopper") { %>style="color: #ffffff;"<% } %>>Add Category</a></li>
				  <li><a href="/admin/category/listsubcat" <% if(data.title == "List Sub Category - Grasshopper") { %>style="color: #ffffff;"<% } %>>List Sub Category</a></li>
                  <li><a href="/admin/category/addsubcat" <% if(data.title == "Add Sub Category - Grasshopper") { %>style="color: #ffffff;"<% } %>>Add Sub Category</a></li>
               </ul>
            </li>
         </ul>
      </div>     
   </div>
</div>